
@import "bourbon";

@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// vars
$headings: 'Patua One', cursive;
$white: #fff;
$grey-black: #222;
$olive: #364e41;

body {
  background: #fff;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.5;
}

// Nav Button
.nav-trigger {
  position: fixed;
  width: 110px;
  height: 98px;
  right: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 200;
  @include transform-origin(110px 0px);
  @include transform(scale(0.6));
  @include transition(background 0.3s linear);
}

.nav-trigger.open {
  background: $grey-black;
}

.nav-trigger.close {
  background: transparent;
}

.line {
  display: block;
  position: absolute;
  width: 80px;
  height: 8px;
  background: $white;
  left: 15px;
  @include transform-origin(0px 4px);
  @include transition (opacity 0.3s $ease-in-out-cubic 0s, transform 0.24s $ease-in-out-cubic 0s);
}

@for $i from 1 through 3 {
  .line:nth-child(#{$i}) {
    top: 16px + (($i)-1)*28;
  }
}

.close .line:nth-child(1) {
  @include transform(translateX(11px) rotate(45deg));
}

.close .line:nth-child(2) {
  opacity: 0;
}

.close .line:nth-child(3) {
  @include transform(translateX(11px) rotate(-45deg));
}

// Full page Navigation  
nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}

nav.out {
  pointer-events: none;
}

nav.in {
  pointer-events: auto;
}

nav ul, li {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

nav ul {
  height: 100%;
  width: 100%;
  position: absolute;
}

nav li {
  height: 20%;
  position: relative;
  background: $grey-black;
  color: $white;
  font-family: $headings;
}

nav li:hover {
  background: $olive;
}

@for $i from 1 through 5 {
  nav.in li:nth-child(#{$i}) {
    @include transition(transform 0.5s $ease-out-cubic (0.1s*$i), opacity 0.5s linear (0.1s*$i));
  }
}

@for $i from 5 through 1 {
  nav.out li:nth-child(#{$i}) {
    @include transition(transform 0.3s $ease-in-cubic (0.05s*(5-$i)), opacity 0.3s linear (0.05s*(5-$i)));
  }
}

nav.out li {
  @include transform(translateY(300%));
  opacity: 0;
}

nav.in li {
  @include transform(translateY(0));
  opacity: 1;
}

.nav-label {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  text-transform: uppercase;
}

// site content
.header {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/bg.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
  top: 0px;
}

.header h1 {
  width: 100%;
  color: #fff;
  position: absolute;
  margin: 0;
  font-family: $headings;
  text-align: center;
  display: block;
  top: 50%;
}

.content {
  @include box-sizing(border-box);
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
}

.credit {
  color: #364e41;
}

.credit a {
  color: #364e41;
}